@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-animated {
  --animation-duration: 10s;
  background-size: 400%;

  -webkit-animation: bg-animation var(--animation-duration) ease infinite;
  -moz-animation: bg-animation var(--animation-duration) ease infinite;
  animation: bg-animation var(--animation-duration) ease infinite;
}

@keyframes bg-animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
